<sw-data-grid
        :dataSource="getItems"
        :columns="columns"
        :fullPage="false"
        :showSettings="false"
        :showSelection="false"
        :showActions="false"
        :isLoading="isLoading"
        :allowColumnEdit="false"
        :allowInlineEdit="false"
        class="dne-template-manager">
    <template #column-name="{ item }">
        <a
            href="#"
            @click.prevent="changeItem(item)"
        >
            <template v-if="item.custom === 1">
                <sw-icon
                    name="default-documentation-file"
                    color="#007bff"
                    size="14">
                </sw-icon>
                <strong>{{ item.name }}</strong>
            </template>
            <template v-else>
                <sw-icon
                    name="default-web-loading-star"
                    size="14">
                </sw-icon>
                {{ item.name }}
            </template>
        </a>
    </template>
    <template #column-label-name>
        <span>
            {{ $t('dne-template-manager.nameLabel') }}
        </span>
        <sw-field
            v-model="searchText"
            type="text"
            :placeholder="$t('dne-template-manager.searchLabel')"
        ></sw-field>
    </template>
</sw-data-grid>
